@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --bg-hover-linear: linear-gradient(90deg, currentColor 33.33%, transparent 33.33%, transparent 66.66%, currentColor 66.66%);
    --bg-current-linear: linear-gradient(180deg, currentColor 0, currentColor);
  }
}

:root {
  /* --background: #ffffff; */
  /* --foreground: #171717; */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  /* color: var(--foreground); */
  /* background: var(--background); */
  /* font-family: Arial, Helvetica, sans-serif; */
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* color: #221d1d08; */
}
