@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --bg-hover-linear: linear-gradient(90deg, currentColor 33.33%, transparent 33.33%, transparent 66.66%, currentColor 66.66%);
    --bg-current-linear: linear-gradient(180deg, currentColor 0, currentColor);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* color: #221d1d08; */
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}